{{- if .Site.Params.widgets.social }}
<div class="widget-social widget">
	<h4 class="widget-social__title widget__title">{{ T "social_title" }}</h4>
	<div class="widget-social__content widget__content">
		{{- with .Site.Params.widgets.social.facebook }}
		<div class="widget-social__item widget__item">
			<a class="widget-social__link widget__link btn" title="Facebook" rel="noopener noreferrer" href="https://facebook.com/{{ . }}" target="_blank">
				{{ partial "svg/facebook.svg" (dict "class" "widget-social__link-icon") }}
				<span>Facebook</span>
			</a>
		</div>
		{{- end }}
		{{- with .Site.Params.widgets.social.mastodon }}
		<div class="widget-social__item widget__item">
			<a class="widget-social__link widget__link btn" title="Mastodon" rel="me noopener noreferrer" href="{{ . }}" target="_blank">
				{{ partial "svg/mastodon.svg" (dict "class" "widget-social__link-icon") }}
				<span>Mastodon</span>
			</a>
		</div>
		{{- end }}
		{{- with .Site.Params.widgets.social.twitter }}
		<div class="widget-social__item widget__item">
			<a class="widget-social__link widget__link btn" title="Twitter" rel="noopener noreferrer" href="https://twitter.com/{{ . }}" target="_blank">
				{{ partial "svg/twitter.svg" (dict "class" "widget-social__link-icon") }}
				<span>Twitter</span>
			</a>
		</div>
		{{- end }}
		{{- with .Site.Params.widgets.social.instagram }}
		<div class="widget-social__item widget__item">
			<a class="widget-social__link widget__link btn" title="Instagram" rel="noopener noreferrer" href="https://www.instagram.com/{{ . }}" target="_blank">
				{{ partial "svg/instagram.svg" (dict "class" "widget-social__link-icon") }}
				<span>Instagram</span>
			</a>
		</div>
		{{- end }}
		{{- with .Site.Params.widgets.social.linkedin }}
		<div class="widget-social__item widget__item">
			<a class="widget-social__link widget__link btn" title="LinkedIn" rel="noopener noreferrer" href="https://linkedin.com/in/{{ . }}" target="_blank">
				{{ partial "svg/linkedin.svg" (dict "class" "widget-social__link-icon") }}
				<span>LinkedIn</span>
			</a>
		</div>
		{{- end }}
		{{- with .Site.Params.widgets.social.telegram }}
		<div class="widget-social__item widget__item">
			<a class="widget-social__link widget__link btn" title="Telegram" rel="noopener noreferrer" href="https://t.me/{{ . }}" target="_blank">
				{{ partial "svg/telegram.svg" (dict "class" "widget-social__link-icon") }}
				<span>Telegram</span>
			</a>
		</div>
		{{- end }}
		{{- with .Site.Params.widgets.social.github }}
		<div class="widget-social__item widget__item">
			<a class="widget-social__link widget__link btn" title="GitHub" rel="noopener noreferrer" href="https://github.com/{{ . }}" target="_blank">
				{{ partial "svg/github.svg" (dict "class" "widget-social__link-icon") }}
				<span>GitHub</span>
			</a>
		</div>
		{{- end }}
		{{- with .Site.Params.widgets.social.gitlab }}
		<div class="widget-social__item widget__item">
			<a class="widget-social__link widget__link btn" title="GitLab" rel="noopener noreferrer" href="https://gitlab.com/{{ . }}" target="_blank">
				{{ partial "svg/gitlab.svg" (dict "class" "widget-social__link-icon") }}
				<span>GitLab</span>
			</a>
		</div>
		{{- end }}
		{{- with .Site.Params.widgets.social.bitbucket }}
		<div class="widget-social__item widget__item">
			<a class="widget-social__link widget__link btn" title="Bitbucket" rel="noopener noreferrer" href="https://bitbucket.org/{{ . }}" target="_blank">
				{{ partial "svg/bitbucket.svg" (dict "class" "widget-social__link-icon") }}
				<span>Bitbucket</span>
			</a>
		</div>
		{{- end }}
		{{- with .Site.Params.widgets.social.email }}
		<div class="widget-social__item widget__item">
			<a class="widget-social__link widget__link btn" title="Email" href="mailto:{{ . }}">
				{{ partial "svg/email.svg" (dict "class" "widget-social__link-icon") }}
				<span>{{ . }}</span>
			</a>
		</div>
		{{- end }}
	</div>
</div>
{{- end }}